body {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.box {
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
}

.box-title {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -5px;
}

.box-title h2 {
    font-size: 1rem;
    margin: 0;
}

.product-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 30px; /* Ajuste para a posição do botão de exclusão */
}

.product-box h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-box img.product-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

.delete-btn {
    position: absolute;
    top: 50%;
    left: -40px; /* Ajuste para a posição fora da borda */
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.delete-btn img {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 3px;
}

#addProduto {
    background-color: #28a745;
    color: white;
}

#addProduto:hover {
    background-color: #218838;
}

.save-button-container {
    margin-top: 20px;
}

.centered-heading {
    text-align: center;
    width: 100%;
}

.anexos-box {
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.anexos-title {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.anexos-title h2 {
    font-size: 1rem;
    margin: 0;
}